/* estructura grilla */

.contenedor_venta {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logob logob"
        "inicio inicio"
        "main imgmapa"
        "main imgventas"
        "footer footer"

}

.encabezado_titulo {

    h1 {
        text-align: center;
        margin-top: auto;
        color: white;
    }
}

.slide {
    text-align: center;

    img {
        width: 750px;
        height: 445px;
    }

}

.parrafo_ventas {
    font-size: 20px;
    text-align: center;

    p {
        margin: 35px 0 15px 0;
        color: white;
    }
}

.mapa_ventas {
    text-align: center;
}

.imagen_ventas {
    text-align: center;
}

.Header {
    grid-area: logob;
}

.Nav {
    grid-area: inicio;
}

.main_ventas {
    grid-area: main;
    background-color: black;
}

.imagen_ventas {
    grid-area: imgventas;
}

/* ----------Medidas para Tablet-------- */

@media screen and (max-width: 768px) {

    .encabezado_titulo {

        h1 {
            font-size: 20px;
        }
    }

    .parrafo_ventas {
        font-size: 15px;
    }

    .mapa_ventas iframe {
        text-align: center;
        margin: auto auto auto -20px;
        width: 450px;
        height: 500px;
    }

    .slide {
        margin: auto 10px auto auto;

        img {
            width: 450px;
            height: 500px;
        }
    }

}

/* ----------Medidas para Celular-------- */

@media screen and (max-width: 480px) {

    .contenedor_venta {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logob" "inicio" "main" "maps"
            "imgv" "footer";
    }

    .Header {
        grid-area: logob;
    }

    .Nav {
        grid-area: inicio;
    }

    .main_ventas {
        grid-area: main;
    }

    .mapa_ventas {
        grid-area: maps;

        iframe {
            grid-area: mapa;
            text-align: center;
            margin: auto;
            width: 500px;
            height: 400px;
        }
    }

    .imagen_ventas {
        grid-area: imgv;

    }

    .Footer {
        grid-area: footer;
    }

    .encabezado_titulo h1 {
        text-align: center;
        font-size: 20px;
        margin: auto;
    }

    .parrafo_ventas {
        p {
            font-size: 15px;
            margin-left: -30px;
            padding: 2% 10%;
            margin-bottom: 5px;
            margin-top: 10px;
        }
    }

    .slide {
        text-align: center;

        img {
            margin: auto;
            width: 500px;
            height: 400px;
        }
    }


}