/* estructura grilla */

.contenedorTotal {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logob logob"
        "inicio inicio"
        "prado imgprado"
        "rambla imgrambla"
        "parque imgparque"
        "footer footer";
}

.Header {
    grid-area: logob;
}

.Nav {
    grid-area: inicio;
}

.slidee {
    text-align: center;

    img {
        width: 750px;
        height: 450px;
    }
}


.titulo_prado {
    text-align: center;
    margin-top: 20px;
}

.parrafo_prado {
    grid-area: prado;
    margin-top: 20px;

    p {
        display: flex;
        text-align: left;
        margin: 10px 0 0 10px;
    }
}

.titulo_rambla {
    text-align: center;
    margin-top: 40px;
}

.parrafo_rambla {
    grid-area: rambla;
    margin-top: 20px;

    p {
        display: flex;
        text-align: left;
        margin: 15px 0 0 10px;
    }
}

.titulo_parque {
    text-align: center;
    margin-top: 20px;
}

.parrafo_parque {
    grid-area: parque;
    margin-top: 15px;

    p {
        display: flex;
        text-align: left;
        margin: 10px 0 0 10px;
    }
}

.imgprado {
    grid-area: imgprado;
    text-align: right;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 90px;
}

.imgrambla {
    grid-area: imgrambla;
    text-align: right;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.imgparque {
    grid-area: imgparque;
    text-align: right;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
}

.Footer {
    grid-area: footer;
}

/* ----------Medidas para Tablet-------- */

@media screen and (max-width: 768px) {

    .contenedorTotal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.1fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.1fr;
        grid-template-areas: "logob" "inicio" "prado" "imgprado" "rambla" "imgrambla" "parque" "imgparque" "footer";
    }

    .Header {
        grid-area: logob;
    }

    .Nav {
        grid-area: inicio;
    }

    .titulo_prado {
        margin-top: 10px;
        font-size: 35px;
    }

    .parrafo_prado {
        grid-area: prado;
        margin-top: 5px;

        p {
            margin-left: 5px;

        }
    }

    .imgprado {
        grid-area: imgprado;
        margin-top: 20px;
    }

    .titulo_rambla {
        margin-top: 35px;
        font-size: 35px;
    }

    .parrafo_rambla {
        grid-area: rambla;
        margin-top: 5px;

        p {
            margin-left: 5px;
        }
    }

    .imgrambla {
        grid-area: imgrambla;
    }

    .titulo_parque {
        margin-top: 35px;
        font-size: 35px;
    }

    .parrafo_parque {
        grid-area: parque;
        margin-top: 5px;

        p {
            margin-left: auto;
        }
    }

    .imgparque {
        grid-area: imgparque;
    }

    .Footer {
        grid-area: footer;
    }
}

/* ----------Medidas para Celular-------- */

@media screen and (max-width: 480px) {

    .contenedorTotal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logob" "inicio" "prado" "imgprado" "rambla" "imgrambla" "parque" "imgparque" "footer";
        ;
    }

    .Header {
        grid-area: logob;
    }

    .Nav {
        grid-area: inicio;
        text-align: center;
    }

    .slidee {
        text-align: center;

        img {
            width: 450px;
            height: 300px;
        }

    }

    .titulo_prado {
        text-align: center;
        grid-area: prado;
        margin: 20px;
    }

    .parrafo_prado {

        p {
            font-size: 15px;
            margin-left: -30px;
            padding:2% 15%;
            margin-bottom: 5px;
            margin-top: -10px;
        }
    }

    .imgprado {
        grid-area: imgprado;
        margin-top: 10px;

    }

    .titulo_rambla {
        grid-area: rambla;
        margin: 20px;
    }

    .parrafo_rambla {

        p {
            font-size: 15px;
            margin-left: -30px;
            padding: 2% 15%;
            margin-bottom: 5px;
            margin-top: -10px;
        }
    }

    .imgrambla {
        grid-area: imgrambla;
        margin-top: 10px;
    }

    .titulo_parque {
        grid-area: parque;
        margin: 20px;
    }

    .parrafo_parque {
        p {
            font-size: 15px;
            margin-left: -30px;
            padding: 2% 15%;
            margin-bottom: 5px;
            margin-top: -10px;
        }
    }

    .imgparque {
        grid-area: imgparque;
        margin-top: 10px;
    }

    .footer {
        grid-area: footer;
    }
}